# Particle Swarm Optimization - Cartola

## Modelagem da partícula

### Parâmetros da partícula:

Somatória das pontuações de 11 jogadores e 1 técnico escalados

Posição dos membros do time: atacante, zagueiro, lateral, meio-campista, goleiro

Formações táticas (defensores, meio-campistas, atacantes): 4-3-3, 4-4-2, 4-5-1, 3-5-2, 3-4-3, 5-3-2, 5-4-1

    * 4 defensores = 2 zagueiros e 2 laterais
    
    * 5 defensores = 3 zagueiros 2 laterais
    
Status dos jogadores: provável, contundido, dúvida, suspenso, nula

#### Restrições:

Quantidade de cartolas disponíveis
Membro disponível

#### Representação da partícula:

[ [ defensores ( zagueiros ou lateriais ) ], [ meio-campistas ], [ atacantes ], técnico ]

## Pseudo-code

For each particle
    Initialize particle
END

Do
    For each particle
        Calculate fitness value
        If the fitness value is better than the best fitness value (pBest) in history
            set current value as the new pBest
    End

    Choose the particle with the best fitness value of all the particles as the gBest
    For each particle
        Calculate particle velocity according equation (a)
        Update particle position according equation (b)
    End
While maximum iterations or minimum error criteria is not attained

In [15]:
import pandas as pd
import random

In [33]:
jogadores = pd.read_csv("caRtola/data/desafio_valorizacao/valorizacao_cartola_2018.csv")
jogadores = jogadores[['id','posicao','pontos','preco','status']].sample(n=20, random_state=1)
jogadores.head()

           id posicao  pontos  preco      status
21330   94975     mei     0.0   1.46        Nulo
17271   89827     ata     0.0   4.17        Nulo
26436  100742     mei     0.0   1.04        Nulo
7082    70118     mei     0.0   1.27        Nulo
10485   78497     lat     0.0   5.49  Contundido

In [ ]:
class Jogador:
    def __init__(self, player_id, posicao, pontos, preco, status):
        self.id = player_id
        self.posicao = posicao
        self.pontos = pontos
        self.preco = preco
        self.status = status